/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    height: 10vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
/* MAIN */
.containermain{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cardsong{
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
    background-color: #c2c2c2;
    width: 15%;
}
.name-song{
    font-weight: 600;
    font-size: 2rem;
    font-style: oblique;
}
.cantante-song{
    font-size: 1.5rem;
    font-style: oblique;
}
.genere-song{
    font-size: 1.2rem;
    font-style: oblique;
}
.durata-song{
    font-size: 1.1rem;
    font-style: oblique;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    position: relative;
    cursor: pointer;
}
.button-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 2rem;
    border: 1px solid black;
    padding: 30px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #efefef;
}
.none{
    display: none;
}
.actvie{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insertsong{
   display: flex;
   flex-direction: column;
}
.insertsong label{
  font-size: 2rem;
}
.insertsong input{
    font-size: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}
.insertsong button{
    margin-top: 10px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px ;
    border:  1px solid black;
    cursor: pointer;
}

